<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BFI Finance</title>
    <link rel="stylesheet" href="assets/styles/style.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar--hero">
        <div class="container">
            <div class="navbar-brand">
                <div class="logo d-flex">
                    <div class="logo__left">
                        <a href="#">
                            <img src="assets/images/bfi-logo.png" alt="bfi logo"/>
                        </a>
                    </div>
                    <div class="logo__right align-self-end">
                        <p>BFI terdaftar dan diawasi oleh</p>
                        <img src="assets/images/OJK.png" alt="ojk logo"/>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">PENGAJUAN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TENTANG KAMI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TESTIMONI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h3 class="footer__title">PT BFI FInance Tbk</h3>
                        <address>
                            BFI Tower <br>
                            Sunburst CBD Lot.1.2 <br>
                            JL. Kapt. Soebijanto Djojohadikusumo <br>
                            BSD City - Tangerang Selatan 15322
                        </address>
                    </div>
                    <div class="col-sm">
                        <h3 class="footer__title">Follow us on:</h3>
                        <ul class="social-media">
                            <li>
                                <a href="#"><img src="assets/images/instagram.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/facebook.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/twitter.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/linkedin.jpg"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <div class="ojk-box">
                            <p class="ojk-box__title">BFI terdaftar dan diawasi oleh</p>
                            <img src="assets/images/ojk2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p>Copyright &copy; 2018 PT BFI Finance Infonesia Tbk.</p>
        </div>
    </footer>

    <div class="chat-icon">
        <img src="assets/images/chat.png">
    </div>
   
    <script src="assets/scripts/app.min.js"></script>
</body>
</html>